.hero-image {
    background-image: url("https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg");
    background-color: #cccccc;
    height: 750px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-image h2 {
    font-family: 'Courgette', cursive;
    color: white;
    font-size: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.hero-image h1 {
    font-family: 'Montserrat', san-serif;
    color: white;
    font-weight: bolder;
    font-size: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.hero-image button {
    background-color: #FED136;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'Montserrat', san-serif;
    text-align: center;
    font-size: 25px;
    width: 225px;
    height: 70px;
    font-weight: bolder;
    margin-top: 25px;
}